name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Clear pip cache
      run: |
        pip cache purge

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install fastapi==0.110.0 starlette==0.36.3 uvicorn==0.29.0 pytest==8.2.1

    - name: Run tests
      env:
        PYTHONPATH: .
      run: |
        pytest tests/

    - name: Clear pip cache
      run: |
        pip cache purge